<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3Z9v_eRUbqYvnsAa5fC8V8UPtrtr_Bm4&callback=initMap">
</script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>






<!--   <script src="/../../public/javascript/app.js" type="text/javascript"></script> -->
<script src="javascript/app.js" type="text/javascript"></script>



<link rel="css/style.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Law & Boarders</title>
</head>
<body>




  <div id="container" class="flexChild columnParent"> <!-- start box for stuff  -->

    <logoHead class="flexChild">             <!-- start logo-box and neoheader -->

    </logoHead>                              <!-- end logo box and neoheader -->

    <bodyWrapper class="flexChild rowParent"> <!-- start bodyWrapper -->

      <mapWrapper class="flexChild columnParent"> <!-- wrapping box for map-related things -->


        <mapFilterTab class="flexChild">         <!-- start wrapper for filter buttons -->
          <h1>hello</h1>
        </mapFilterTab>                          <!-- end wrapper for filter buttons -->

        <mapBox class="flexChild selected"> <!-- this is where the map goes -->

          <div id="map">


        </div>

      </mapBox>                           <!-- this is where the map went -->


    </mapWrapper>                               <!-- end wrapping box for map-related things -->

    <savedStuffBox class="flexChild"> <!-- saved stuff popualates here -->

    </savedStuffBox>                  <!-- saved stuff stops populating here -->

  </bodyWrapper>                             <!-- end bodywrapper -->


</div>                                         <!--  end box for stuff -->


<footer>  <!-- start footer -->


</footer> <!-- end footer -->








</body>
</html>
